html,
body{
	margin:0;
	padding:0;
	background-color: #ddd;
	width:100%;
	height:100%;
}
#mydiv {
  position: absolute;
  z-index: 9;
  background-color: #f1f1f1;
  border: 1px solid #d3d3d3;
  text-align: center;
}

#mydivheader {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}

.menu{
	display: block;
	position: absolute;
    z-index:9;
	
	border-radius:13px;
	background-color: #eee;
	padding:0.5em;
	left:30%;
	top:10px;
	width:600px;
    box-shadow: 3px 3px 5px #ddd;
}
.menu div{
    float:left;
}
.menu .shapesTools{
    display: block;
    float:left;
    clear:both;
    overflow:hidden;
}
.menu .shapesTools a{
	border: 1px solid #d3d3d3;
    border-radius: 13px;
    background: linear-gradient(358deg, #ececec, #ffffff);
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: #555;
    text-align: center;
    display: block;
    width: 25px;
    height: 25px;
    float: left;

}
.menu a.ativo{
	border: 1px solid #e6e6e6;
    border-radius: 13px;
    background: linear-gradient(358deg, #ffffff, #ececec);
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: #8daffb;
    text-align: center;
    display: block;
    width: 26px;
    height: 26px;
    
}

.menu a:hover{
    box-shadow: 2px 2px 3px #cfcfcf;
    width: 26px;
    height: 26px;
    display: block;
}

.menu .toolSize{
    margin-top:5px;
    float:left;
    display: block;
}

.menu .toolSize button.numberDown,
.menu .toolSize button.numberUp{
    float:left;
    width:25px;
    height:31px;
    background-color: #fff;
    border:solid 1px #555;
    border-left:none;
    border-right:none;
    color:#555;
}
.menu .toolSize button.numberDown{
    border-radius: 5px 0 0 5px;
}
.menu .toolSize button.numberUp{
    border-radius: 0 5px 5px 0;
}


.menu .toolSize button.numberDown:hover,
.menu .toolSize button.numberUp:hover{
    background-color: #eee;
    color:#333;
}

.menu .toolSize button.numberDown:active,
.menu .toolSize button.numberUp:active{
    color:#8daffb;
}

.menu .toolSize input.size{
    background-color: #fff;
    display:block;
    border:1px solid #333;
    width:30px;
    height:28px;
    float:left;
    border-top:1px solid #333;
    border-bottom:1px solid #333;
    font-size:15px;
    text-align:center;
    color:#555;
}
.menu input.size:focus-visible{
    outline: none;
}

.menu .colorPicker{
    float:right;
    display: block;
    clear:both;
    overflow:hidden;
    margin-top:5px;
}
.menu .colorPicker input{
	   
    border: none;    
    width: 35px;
    height: 35px;
}



.menu .tool{
	border:1px solid #000;
}
.coordenadas{
    z-index: 1;
    position: fixed;
    display: block;
    left:5px;
    bottom:5px;
    font-family: "Courier New";
    font-size: 11px;
}

.menuLayers{
    z-index: 1;
    position: fixed;
    display: block;
    right:5px;
    bottom:20px;
    font-family: "Arial";
    font-size: 12px;
    background-color: #eee;
    border:1px solid #333;
    border-radius:3px;
    padding:0.5em;
}

.menuLayers .layerOptions{
    display: block;
    right: 5px;
    top: 5px;
    clear:both;
    overflow:hidden;
}

.menuLayers .layerOptions a{
    border: 1px solid #000;
    border-radius: 3px;
    background: linear-gradient(358deg, #ececec, #ffffff);
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    color: #000;
    text-align: center;
    display: block;
    width: 15px;
    height: 18px;
    float: left;

}
.menuLayers ol{
    list-style: none;
    padding:0;
    margin:0;
}
