body{
	margin:0;
	padding:0;
	background-color: #38396b;
}


#quadro{
	background-color:#fff;	
	margin: 0 auto;
    display: block;
}

label{
	font-family:"Courier New";
	font-size:13px;
}

body .content .options{
	
	margin-left: 10px;
    margin-top: 10px;
    color:#ddd;
}
body .board{
	float:right;
}
body .content .options .option{
	margin-bottom:20px;
}

body .content .options input:focus{
	outline:0;
}
body .content .options input{
	margin: 0;
    padding: 0;
    vertical-align: middle;
    -webkit-appearance: none;
    background-color: #fff;
    border:5px solid #fff;
    width: 20px;
    height: 20px;
    margin-right:10px;
}

body .content .options input[type=radio]:checked {
	background-color:#51a4d4;

}
body .content .options label{
	font-family: Arial;
	font-size:16px;
	vertical-align: middle;
}
footer{
	
    margin: 0;
    padding: 10px;
    background-color: #555;
    font-family: Arial;
    font-size: 16px;
    color: #ddd;
}
.clearfix{
	clear:both;
	overflow: hidden;
	content:"";
}
ul li{
	list-style: none;
}
.left{
	float:left;
}
.right{
	float:right;
}